html{
    width: 100%;
    height: 100%;
    background: rgba(30,171,5,1);
    background: -moz-linear-gradient(top, rgba(30,171,5,1) 0%, rgba(56,120,0,1) 22%, rgba(28,94,2,1) 58%, rgba(28,94,2,1) 72%, rgba(18,153,6,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(30,171,5,1)), color-stop(22%, rgba(56,120,0,1)), color-stop(58%, rgba(28,94,2,1)), color-stop(72%, rgba(28,94,2,1)), color-stop(100%, rgba(18,153,6,1)));
    background: -webkit-linear-gradient(top, rgba(30,171,5,1) 0%, rgba(56,120,0,1) 22%, rgba(28,94,2,1) 58%, rgba(28,94,2,1) 72%, rgba(18,153,6,1) 100%);
    background: -o-linear-gradient(top, rgba(30,171,5,1) 0%, rgba(56,120,0,1) 22%, rgba(28,94,2,1) 58%, rgba(28,94,2,1) 72%, rgba(18,153,6,1) 100%);
    background: -ms-linear-gradient(top, rgba(30,171,5,1) 0%, rgba(56,120,0,1) 22%, rgba(28,94,2,1) 58%, rgba(28,94,2,1) 72%, rgba(18,153,6,1) 100%);
    background: linear-gradient(to bottom, rgba(30,171,5,1) 0%, rgba(56,120,0,1) 22%, rgba(28,94,2,1) 58%, rgba(28,94,2,1) 72%, rgba(18,153,6,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1eab05', endColorstr='#129906', GradientType=0 );
}
body{
    padding: 1%;
    margin: 1%;
}
section{
    position: absolute;
    top:0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(76,76,76,1);
    background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 0%, rgba(102,102,102,1) 19%, rgba(28,28,28,1) 52%, rgba(0,0,0,1) 77%, rgba(19,19,19,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(76,76,76,1)), color-stop(0%, rgba(89,89,89,1)), color-stop(19%, rgba(102,102,102,1)), color-stop(52%, rgba(28,28,28,1)), color-stop(77%, rgba(0,0,0,1)), color-stop(100%, rgba(19,19,19,1)));
    background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 0%, rgba(102,102,102,1) 19%, rgba(28,28,28,1) 52%, rgba(0,0,0,1) 77%, rgba(19,19,19,1) 100%);
    background: -o-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 0%, rgba(102,102,102,1) 19%, rgba(28,28,28,1) 52%, rgba(0,0,0,1) 77%, rgba(19,19,19,1) 100%);
    background: -ms-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 0%, rgba(102,102,102,1) 19%, rgba(28,28,28,1) 52%, rgba(0,0,0,1) 77%, rgba(19,19,19,1) 100%);
    background: linear-gradient(to bottom, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 0%, rgba(102,102,102,1) 19%, rgba(28,28,28,1) 52%, rgba(0,0,0,1) 77%, rgba(19,19,19,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0 );
}
section h1{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 10vmin;
    margin-top: 10vh;
    color: rgb(0, 0, 0);
    letter-spacing: 0.5vmin;
    text-shadow: 0.5vmin 0.2vmin 0px #FFFFFF, 1vmin 1vmin 0px rgba(0,0,0,0.15);
}
section button {
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    border-radius: 0.3em;
    font-family: Georgia;
    color: #000000;
    font-size: 10vmin;
    width: 60vw;
    display: block;
    margin: 10vh auto;
    text-decoration: none;
    cursor: pointer;
    transition: background 1s ease-in;
}
#easy{
    color: rgb(255, 217, 0);
    background: #001ec5;
    background-image: -webkit-linear-gradient(top, #001ec5, #000546);
    background-image: -moz-linear-gradient(top, #001ec5, #000546);
    background-image: -ms-linear-gradient(top, #001ec5, #000546);
    background-image: -o-linear-gradient(top, #001ec5, #000546);
    background-image: linear-gradient(to bottom, #001ec5, #000546);
}
#easy:hover{
    background: #001ec5;
    background-image: -webkit-linear-gradient(top, #000546, #001ec5);
    background-image: -moz-linear-gradient(top, #000546, #001ec5);
    background-image: -ms-linear-gradient(top, #000546, #001ec5);
    background-image: -o-linear-gradient(top, #000546, #001ec5);
    background-image: linear-gradient(to bottom, #000546, #001ec5);
}

#medium{
    color: #FFF;
    background: #119600;
    background-image: -webkit-linear-gradient(top, #119600, #084600);
    background-image: -moz-linear-gradient(top, #119600, #084600);
    background-image: -ms-linear-gradient(top, #119600, #084600);
    background-image: -o-linear-gradient(top, #119600, #084600);
    background-image: linear-gradient(to bottom, #119600, #084600);
    
}
#medium:hover{
    background: #084600;
    background-image: -webkit-linear-gradient(top, #084600, #119600);
    background-image: -moz-linear-gradient(top, #084600, #119600);
    background-image: -ms-linear-gradient(top, #084600, #119600);
    background-image: -o-linear-gradient(top, #084600, #119600);
    background-image: linear-gradient(to bottom, #084600, #119600);
}
#hard{
    background: #f33030;
    background-image: -webkit-linear-gradient(top, #f33030, #8c0000);
    background-image: -moz-linear-gradient(top, #f33030, #8c0000);
    background-image: -ms-linear-gradient(top, #f33030, #8c0000);
    background-image: -o-linear-gradient(top, #f33030, #8c0000);
    background-image: linear-gradient(to bottom, #f33030, #8c0000);
    text-shadow: 0 -0.1vmin 1vmin #FFF, 0 -0.5vmin 1vmin #ff0, 0 -1vmin 1vmin #ff8000, 0 -3vmin 4vmin #F20;
    margin-bottom: 0px;
}  
#hard:hover {
    background: #f33030;
    background-image: -webkit-linear-gradient(top, #8c0000, #f33030);
    background-image: -moz-linear-gradient(top, #8c0000, #f33030);
    background-image: -ms-linear-gradient(top, #8c0000, #f33030);
    background-image: -o-linear-gradient(top, #8c0000, #f33030);
    background-image: linear-gradient(to bottom, #8c0000, #f33030);
}

header{
    width: 100%;
    margin: 0.5% auto;
    padding: 0px;

}
header h1{
    display: inline-block;
    color: #000;
    width: 31%;
    text-align: center;
    margin: 0.2em auto;
    font-size: 1.5rem; 
       
}
table{
    width: 70vmin;
    height: 70vmin;
    margin: 0 auto;
    padding: 0;
}
td{
    background: rgb(199, 39, 15);
    background: -moz-linear-gradient(-45deg, rgba(237,70,44,1) 0%, rgba(241,44,9,1) 0%, rgba(212,31,8,1) 49%, rgba(241,44,9,1) 99%, rgba(241,44,9,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(237,70,44,1)), color-stop(0%, rgba(241,44,9,1)), color-stop(49%, rgba(212,31,8,1)), color-stop(99%, rgba(241,44,9,1)), color-stop(100%, rgba(241,44,9,1)));
    background: -webkit-linear-gradient(-45deg, rgba(237,70,44,1) 0%, rgba(241,44,9,1) 0%, rgba(212,31,8,1) 49%, rgba(241,44,9,1) 99%, rgba(241,44,9,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(237,70,44,1) 0%, rgba(241,44,9,1) 0%, rgba(212,31,8,1) 49%, rgba(241,44,9,1) 99%, rgba(241,44,9,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(237,70,44,1) 0%, rgba(241,44,9,1) 0%, rgba(212,31,8,1) 49%, rgba(241,44,9,1) 99%, rgba(241,44,9,1) 100%);
    background: linear-gradient(135deg, rgba(237,70,44,1) 0%, rgba(241,44,9,1) 0%, rgba(212,31,8,1) 49%, rgba(241,44,9,1) 99%, rgba(241,44,9,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed462c', endColorstr='#f12c09', GradientType=1 );
    -webkit-box-shadow: 0.5vmin 0.8vmin 2vmin -0.2vmin rgba(0,0,0,1);
    -moz-box-shadow: 0.5vmin 0.8vmin 2vmin -0.2vmin rgba(0,0,0,1);
    box-shadow: 0.5vmin 0.8vmin 2vmin -0.2vmin rgba(0,0,0,1);
    font-size: 10vmin;
    text-align: center;
    width: 33%;
    height: 33%;
    border: 0.3vmin solid rgba(148, 24, 13, 0.897);
    border-radius: 1.3vmin;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(1, 0, 77);
    text-shadow: 0 -0.2vmin 1vmin #FFF, 0 -0.2vmin 1vmin #ff0, 0 -1vmin 4vmin #ff8000, 0 -9vmin 18vmin #F00;
    cursor: pointer;

}
.win-cells{
    background: rgba(30,171,5,1);
    background: -moz-linear-gradient(top, rgba(30,171,5,1) 0%, rgba(56,120,0,1) 22%, rgba(28,94,2,1) 58%, rgba(28,94,2,1) 72%, rgba(18,153,6,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(30,171,5,1)), color-stop(22%, rgba(56,120,0,1)), color-stop(58%, rgba(28,94,2,1)), color-stop(72%, rgba(28,94,2,1)), color-stop(100%, rgba(18,153,6,1)));
    background: -webkit-linear-gradient(top, rgba(30,171,5,1) 0%, rgba(56,120,0,1) 22%, rgba(28,94,2,1) 58%, rgba(28,94,2,1) 72%, rgba(18,153,6,1) 100%);
    background: -o-linear-gradient(top, rgba(30,171,5,1) 0%, rgba(56,120,0,1) 22%, rgba(28,94,2,1) 58%, rgba(28,94,2,1) 72%, rgba(18,153,6,1) 100%);
    background: -ms-linear-gradient(top, rgba(30,171,5,1) 0%, rgba(56,120,0,1) 22%, rgba(28,94,2,1) 58%, rgba(28,94,2,1) 72%, rgba(18,153,6,1) 100%);
    background: linear-gradient(to bottom, rgba(30,171,5,1) 0%, rgba(56,120,0,1) 22%, rgba(28,94,2,1) 58%, rgba(28,94,2,1) 72%, rgba(18,153,6,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1eab05', endColorstr='#129906', GradientType=0 );
    color: #FFF;
    text-shadow: none;
}
.inactive-cells{
    opacity: 0.5;
    cursor: not-allowed;
}
footer{
    width: 90vw;
    margin: 0 auto;
}
.myButton {
	-moz-box-shadow: 0px 0px 0px 2px #9fb4f2;
	-webkit-box-shadow: 0px 0px 0px 2px #9fb4f2;
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e));
	background:-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e',GradientType=0);
	background-color:#7892c2;
	-moz-border-radius:0.4em;
	-webkit-border-radius:0.4em;
	border-radius:0.4em;
    border:0.05em solid #4e6096;
    color: rgba(0,0,0,1);
	display:block;
	cursor:pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 1.5em;
    margin: 4vh auto;
    width: 70%;
    height: 30%;
    padding: 0px;
    text-align: center;
    text-decoration: none;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
	background:-moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2',GradientType=0);
	background-color:#476e9e;
}
.myButton:active {
	position:relative;
	top:1px;
}

.inactive{
    cursor: default;
    background: rgb(134, 130, 129);
    color: rgba(0, 0, 0, 0.521);
    border: none;
    opacity: 0;
    
}
.inactive:hover{
    background: rgb(134, 130, 129);
}
.inactive:active{
    top: 0px;
}
.myButton2 {
	-moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f));
	background:-moz-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:-webkit-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:-o-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:-ms-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f',GradientType=0);
	background-color:#f24537;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:0.5em;
	border:0.05em solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-size: 1.5em;
    line-height: 1.5em;
    margin: 4vh 27vw;
    width: 40vw;
    padding: 0px;
    text-align: center;
	font-weight:bold;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
.myButton2:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537));
	background:-moz-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:-webkit-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:-o-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:-ms-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537',GradientType=0);
	background-color:#c62d1f;
}
.myButton2:active {
	position:relative;
	top:1px;
}
#player-o{
    margin-bottom: 0px;
}
@media screen and (min-width: 600px){
    table{
        width: 60vmin;
        height: 60vmin;
    }
    .myButton{
        float: left;
        font-size: 2em;
        margin: 4vh 4%;
        width: 40%;
    }
    .myButton2{
        margin: 0px 25%;
        margin-top: 4vmin;
        font-size: 2em;
        width: 50%;
    }
    header{
        margin: 0 auto;
    }
    header h1{
        font-size: 2rem;
    }
}
